files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIF0zCCBLugAwIBAgIQDLc7GoP/V4cdQazzRESrhjANBgkqhkiG9w0BAQsFADBy
      MQswCQYDVQQGEwJDTjElMCMGA1UEChMcVHJ1c3RBc2lhIFRlY2hub2xvZ2llcywg
      SW5jLjEdMBsGA1UECxMURG9tYWluIFZhbGlkYXRlZCBTU0wxHTAbBgNVBAMTFFRy
      dXN0QXNpYSBUTFMgUlNBIENBMB4XDTIwMDkxNzAwMDAwMFoXDTIxMDkxNzEyMDAw
      MFowNTEzMDEGA1UEAxMqc3RvY2thbGVydHMudXMtZWFzdC0xLmVsYXN0aWNiZWFu
      c3RhbGsuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsBIhgLQg
      JD5KFS1ZkcJZYzMjA8CATMXhFu2W1NoFYotyvx3Yf2365a5hRwssw/syJVlGV8yO
      thlARm0G/y7QNF35Ki8dmr8tNN9qQdfxxH83fASk+rHUQpD49Ah6gyoEIv3mDSFu
      fX9JEyI0Z8IwG24aPodbxz+6vlreJwnKxdv94IySGzVGN+Px4pV2UqbgIrL3T0aQ
      d5dPJHnY7u4izbvStihEZd2qN0BNfEgjHcPvFQdQuTOSX7NtAa5HlISpye9BNnKJ
      zHv2E7+W5PJx3dreRE0elFu58NgP40WN/BU3GEqzXtEY+coYec0Bt8Z8doNw4myC
      ZSBieSzwpE612QIDAQABo4ICoDCCApwwHwYDVR0jBBgwFoAUf9OZ86BHDjEAVlYi
      jrfMnt3KAYowHQYDVR0OBBYEFCOgBW7GC6AV75rJbHE0j82h57TiMDUGA1UdEQQu
      MCyCKnN0b2NrYWxlcnRzLnVzLWVhc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTAO
      BgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMEwG
      A1UdIARFMEMwNwYJYIZIAYb9bAECMCowKAYIKwYBBQUHAgEWHGh0dHBzOi8vd3d3
      LmRpZ2ljZXJ0LmNvbS9DUFMwCAYGZ4EMAQIBMIGSBggrBgEFBQcBAQSBhTCBgjA0
      BggrBgEFBQcwAYYoaHR0cDovL3N0YXR1c2UuZGlnaXRhbGNlcnR2YWxpZGF0aW9u
      LmNvbTBKBggrBgEFBQcwAoY+aHR0cDovL2NhY2VydHMuZGlnaXRhbGNlcnR2YWxp
      ZGF0aW9uLmNvbS9UcnVzdEFzaWFUTFNSU0FDQS5jcnQwCQYDVR0TBAIwADCCAQQG
      CisGAQQB1nkCBAIEgfUEgfIA8AB2APZclC/RdzAiFFQYCDCUVo7jTRMZM7/fDC8g
      C8xO8WTjAAABdJtSpnYAAAQDAEcwRQIgBhv1gu6DC16j439x4JcAVZ+33gmNOioE
      0GeJt6ksKrUCIQDrUjvyxtx2V6Qlciv+Pdi8C23I3m/mC7cMFGcpeU1N5gB2AFzc
      Q5L+5qtFRLFemtRW5hA3+9X6R9yhc5SyXub2xw7KAAABdJtSptcAAAQDAEcwRQIh
      AO6N/Mjx2iHdTHLklnD4HLTXAAaEsPtyfwGwr1lSxw+yAiAz8dz7b2J33gFjX5k/
      LdOk+O447SMumyubL4sQegUQbzANBgkqhkiG9w0BAQsFAAOCAQEAbaMznboCl798
      7znitQ2KeeURYFnDVcMyXldW5hpui3AI79GY3QrLx74Q4YdtHy8jIUe8lx99YFpC
      4tGGKgzadc5C1XdkCPZVpWYelsJtycOeoJMFJ8G0cK/+CiiBeo+29dLMqA54bWpW
      Vi/lzvKYYm93vWq7FRe6ZPL7QAqxG/lqt4Q7DB8WeBXHUTk+td6k81P6br/n/gLt
      V2bDdkdo325559JV+O1/D2ch+ehy6T1VgEjkS9uk43KjxOtNO83nxxB6vxNy9Xox
      REhxtz5cmlqCTzWd6pt6ugZbu13Q2eUY8fRLesiB/JdJdliaoxL7mFJkbqydRbRM
      +mxPuT7pHg==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIErjCCA5agAwIBAgIQBYAmfwbylVM0jhwYWl7uLjANBgkqhkiG9w0BAQsFADBh
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
      d3cuZGlnaWNlcnQuY29tMSAwHgYDVQQDExdEaWdpQ2VydCBHbG9iYWwgUm9vdCBD
      QTAeFw0xNzEyMDgxMjI4MjZaFw0yNzEyMDgxMjI4MjZaMHIxCzAJBgNVBAYTAkNO
      MSUwIwYDVQQKExxUcnVzdEFzaWEgVGVjaG5vbG9naWVzLCBJbmMuMR0wGwYDVQQL
      ExREb21haW4gVmFsaWRhdGVkIFNTTDEdMBsGA1UEAxMUVHJ1c3RBc2lhIFRMUyBS
      U0EgQ0EwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCgWa9X+ph+wAm8
      Yh1Fk1MjKbQ5QwBOOKVaZR/OfCh+F6f93u7vZHGcUU/lvVGgUQnbzJhR1UV2epJa
      e+m7cxnXIKdD0/VS9btAgwJszGFvwoqXeaCqFoP71wPmXjjUwLT70+qvX4hdyYfO
      JcjeTz5QKtg8zQwxaK9x4JT9CoOmoVdVhEBAiD3DwR5fFgOHDwwGxdJWVBvktnoA
      zjdTLXDdbSVC5jZ0u8oq9BiTDv7jAlsB5F8aZgvSZDOQeFrwaOTbKWSEInEhnchK
      ZTD1dz6aBlk1xGEI5PZWAnVAba/ofH33ktymaTDsE6xRDnW97pDkimCRak6CEbfe
      3dXw6OV5AgMBAAGjggFPMIIBSzAdBgNVHQ4EFgQUf9OZ86BHDjEAVlYijrfMnt3K
      AYowHwYDVR0jBBgwFoAUA95QNVbRTLtm8KPiGxvDl7I90VUwDgYDVR0PAQH/BAQD
      AgGGMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjASBgNVHRMBAf8ECDAG
      AQH/AgEAMDQGCCsGAQUFBwEBBCgwJjAkBggrBgEFBQcwAYYYaHR0cDovL29jc3Au
      ZGlnaWNlcnQuY29tMEIGA1UdHwQ7MDkwN6A1oDOGMWh0dHA6Ly9jcmwzLmRpZ2lj
      ZXJ0LmNvbS9EaWdpQ2VydEdsb2JhbFJvb3RDQS5jcmwwTAYDVR0gBEUwQzA3Bglg
      hkgBhv1sAQIwKjAoBggrBgEFBQcCARYcaHR0cHM6Ly93d3cuZGlnaWNlcnQuY29t
      L0NQUzAIBgZngQwBAgEwDQYJKoZIhvcNAQELBQADggEBAK3dVOj5dlv4MzK2i233
      lDYvyJ3slFY2X2HKTYGte8nbK6i5/fsDImMYihAkp6VaNY/en8WZ5qcrQPVLuJrJ
      DSXT04NnMeZOQDUoj/NHAmdfCBB/h1bZ5OGK6Sf1h5Yx/5wR4f3TUoPgGlnU7EuP
      ISLNdMRiDrXntcImDAiRvkh5GJuH4YCVE6XEntqaNIgGkRwxKSgnU3Id3iuFbW9F
      UQ9Qqtb1GX91AJ7i4153TikGgYCdwYkBURD8gSVe8OAco6IfZOYt/TEwii1Ivi1C
      qnuUlWpsF1LdQNIdfbW3TSe0BhQa7ifbVIfvPWHYOu3rkg1ZeMo6XRU9B4n5VyJY
      RmE=
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCwEiGAtCAkPkoV
      LVmRwlljMyMDwIBMxeEW7ZbU2gVii3K/Hdh/bfrlrmFHCyzD+zIlWUZXzI62GUBG
      bQb/LtA0XfkqLx2avy0032pB1/HEfzd8BKT6sdRCkPj0CHqDKgQi/eYNIW59f0kT
      IjRnwjAbbho+h1vHP7q+Wt4nCcrF2/3gjJIbNUY34/HilXZSpuAisvdPRpB3l08k
      edju7iLNu9K2KERl3ao3QE18SCMdw+8VB1C5M5Jfs20BrkeUhKnJ70E2conMe/YT
      v5bk8nHd2t5ETR6UW7nw2A/jRY38FTcYSrNe0Rj5yhh5zQG3xnx2g3DibIJlIGJ5
      LPCkTrXZAgMBAAECggEACzuM4Z4cMtO6fDFhdngUpcx8Xl/oj31MR98ucTPbhhbp
      YiHwTujgScjfMd4XpAUhhNp2L2HAdQOVYyjPenYtGDoqjDNnSxkJNEdQixTQur12
      97WAJPI1XW3MRB1KW5XRn73c8FeCqgT1z3+uIjR0Rzu19ulBxKtfKYe4hnsMcaTk
      9L8E3R/UYVnnnvLwXVSdro6J8OLIcUlpn+kHi+5qzsYeS12T8V54PMN3t2nDgFxM
      xML4I4fodAXyKU+4KzThRwiYEEfGrQ0Cs3lTov4QVSCo1eXQ0Ww5hf/G5Nmizp6c
      4vMo5VefHaBym7aUABvkz1i5LFh1RIKIiMR6okR8xQKBgQDxTGiFpaegZ0nA+wI0
      jo9oAf8g21iHnwKwMkZuqZWJ4fq6QSzCkv+ootk0TRILq706g8TvmXAgiH0P+eGF
      R41/AMTE8JcYFDfP9mHnmN3FdslxA21j2c+8JTmP+ZN7OjKrQq/9h7sBxbI8yI6k
      fksOfywdWApFqKXhyYHbR0usvwKBgQC6zFnU+gLe/fSwk6gd7ihOey+c7rYsWtME
      34wMGj4piHHcTNLkprIRTSZZe4jwrfteuFb1ZBeygMsUB4BBDMtMGZFn89HVeRjA
      oMMyP01aGT770o9aRyB51Rdfe/CrsVPKIaX8aCsQc/tu8GvAriFtZoBBx6K8R2uP
      XOKnt5ALZwKBgH/TuHNEZF6nGP0we+SXuQSiOiOPz4BZDjWFDKbHE77thcNxj2Ks
      ON9/FY2NXofsPNxovcUoBaxWYdo6x+uxEhY7tAGYapKI82Ap54enBaT73o8N/78r
      vc6v8aSB1E0tcXYkZ9LpOnof3uIwZNBjTyOo3xfUceyhAO9xrmcZh89FAoGAcqQJ
      mcDaVDqtmlT0f3HzQL8vaHPEUBJpoXsEu0S708eOgXKQl42KiT29BHvhfjx4ohgm
      HjIQrReICsHTv5h3iDvE1nR32jiYrVe8lDDvaxVFZ01Bd1lhoAPcdVheSzDoSIxA
      D1lq3I0hyWM57iWwFDEtE7HOuRhn9bM+00m/2I8CgYABYfaCrmu+Ifs0Hz86rUuv
      8scQS0S6zbt6xyHJwYajHI9xXbx+7xUKQmxLWIAv69YcR+Qr0Dh4OLI5az+Ssb94
      fcbnlgsF4z7hzqa0sNAsBcPj5otlgXWOnog2bINa9A4iQcbn2GsNZUlBZHjDhJsH
      83BmQkDjVN7wXAfG97hW3A==
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"
