<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#stocks').DataTable();
        });
        $(function () {
            window.setInterval(function () {
                var favorite = [];
                $.each($("input[name='selectedBox']:checked"), function () {
                    favorite.push($(this).val());
                });
                $.ajax({
                    type: "GET",
                    url: "/getSymbols",
                    data: {selectedSymbol: favorite.join(",")},
                    success: function (data) {
                        $("#result").empty().append(data);
                        $('#stocks').DataTable();
                    }
                })
                ;
            }, 5 * 1000);
        });

        function selectAll() {
            $.each($("input[name='selectedBox']"), function () {
                if ($("input[name='selectedAll']").attr('checked')) {
                    $(this).attr('checked', false);
                } else {
                    $(this).attr('checked', true);
                }

            });
            if ($("input[name='selectedAll']").attr('checked')) {
                $("input[name='selectedAll']").attr('checked', false);
            } else {
                $("input[name='selectedAll']").attr('checked', true);
            }
        }

        function buy() {
            var favorite = [];
            $.each($("input[name='selectedBox']:checked"), function () {
                favorite.push($(this).val());
            });
            $.ajax({
                type: "POST",
                url: "/buy",
                data: {
                    selectedSymbol: favorite.join(","),
                    quantity: $("#txtQuantity").val()
                },
                success: function (data) {
                    $("#traderesult").empty().append(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            })
            ;
        }

        function sell() {
            var favorite = [];
            $.each($("input[name='selectedBox']:checked"), function () {
                favorite.push($(this).val());
            });
            $.ajax({
                type: "POST",
                url: "/sell",
                data: {
                    selectedSymbol: favorite.join(","),
                    quantity: $("#txtQuantity").val()
                },
                success: function (data) {
                    $("#traderesult").empty().append(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            })
            ;
        }

        function getTransaction() {
            $.ajax({
                type: "GET",
                url: "/transactions",
                data: {
                    startDate: "2019-06-21"
                },
                success: function (data) {
                    $("#transactionResult").empty().append(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            })
            ;
        }

        function getOrders() {
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {
                    startDate: "2019-06-21"
                },
                success: function (data) {
                    $("#orders").empty().append(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            })
            ;
        }
    </script>
</head>
<body>

<table>
    <tr>
        <td>
            <input type="checkbox" name="selectedAll" id="selectedAll" hidden="hidden"/>
            <input type="button" value="Select/Deselect All" id="btnSelect" th:onclick="'selectAll();'"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Sell All" id="btnSellAll"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Sell with Quantity" id="btnSell" th:onclick="'sell();'"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Buy with Quantity" id="btnBuy" th:onclick="'buy();'"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Quantity</label>
            <input type="text" id="txtQuantity" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Show Transaction" id="btnTransactions" th:onclick="'getTransaction();'"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Show Orders" id="btnOrders" th:onclick="'getOrders();'"/>
        </td>
    </tr>
</table>
<br/>
<div id="result">
    <table id="stocks" border="1" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>index</th>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>LastPrice</th>
            <th>OpenPrice</th>
            <th>highPrice</th>
            <th>lowPrice</th>
            <th>askPrice</th>
            <th>bidPrice</th>
            <th>closePrice</th>
            <th>totalVolume</th>
            <th>Qty</th>
            <th>-Qty</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quote,listStat : ${list}">
            <th th:text="${listStat.index}+1"></th>
            <th><input type="checkbox" name="selectedBox" id="selectedBox"
                       th:value="${quote.symbol}"
                       th:text="${quote.symbol}"/></th>
            <th th:text="${quote.quantity}"></th>
            <th th:text="${quote.description}"></th>
            <th th:text="${quote.lastPrice}"></th>
            <th th:text="${quote.openPrice}"></th>
            <th th:text="${quote.highPrice}"></th>
            <th th:text="${quote.lowPrice}"></th>
            <th th:text="${quote.askPrice}"></th>
            <th th:text="${quote.bidPrice}"></th>
            <th th:text="${quote.closePrice}"></th>
            <th th:text="${quote.totalVolume}"></th>
            <th></th>
            <th></th>
        </tr>
        </tbody>
    </table>
</div>
<div id="traderesult">

</div>
<div id="transactionResult">

</div>
<div id="orders">

</div>
</body>

</html>