<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            window.setInterval(function () {

                symbols = $("#txtSymbols").val();
                $.ajax({
                    type: "POST",
                    url: "/getSymbols",
                    data: {symbols: symbols},
                    success: function (data) {
                        console.log(data);
                    }
                })
                ;
            }, 10000);
        });
    </script>
</head>
<body>
<form th:action="@{/getSymbols}" method="post">
    Symbols: <input type="text" id="txtSymbols" name="symbols" th:value="${symbols}" style="width:200px"/><br/>
    <table border="1">
        <tr>
            <th>index</th>
            <th>Symbol</th>
            <th>Description</th>
            <th>LastPrice</th>
            <th>LastSize</th>
            <th>OpenPrice</th>
            <th>highPrice</th>
            <th>lowPrice</th>
            <th>closePrice</th>
            <th>netChange</th>
            <th>totalVolume</th>
            <th>exchangeName</th>
        </tr>
        <tr th:each="quote,listStat : ${list}">
            <th th:text="${listStat.index}"></th>
            <td th:text="${quote.symbol}"></td>
            <td th:text="${quote.description}"></td>
            <th th:text="${quote.lastPrice}"></th>
            <th th:text="${quote.lastSize}"></th>
            <th th:text="${quote.openPrice}"></th>
            <th th:text="${quote.highPrice}"></th>
            <th th:text="${quote.lowPrice}"></th>
            <th th:text="${quote.closePrice}"></th>
            <th th:text="${quote.netChange}"></th>
            <th th:text="${quote.totalVolume}"></th>
            <th th:text="${quote.exchangeName}"></th>
        </tr>
    </table>
    <br/>
    <input type="SUBMIT" value="Refresh"/>
</form>

</body>

</html>