<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>index</th>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>LastPrice</th>
        <th>OpenPrice</th>
        <th>highPrice</th>
        <th>lowPrice</th>
        <th>askPrice</th>
        <th>bidPrice</th>
        <th>closePrice</th>
        <th>totalVolume</th>
        <th>Qty</th>
        <th>-Qty</th>
    </tr>
    <tr th:each="quote,listStat : ${list}">
        <th th:text="${listStat.index}+1"></th>
        <th><input type="checkbox" name="selectedBox" id="selectedBox"
                   th:attr="checked=${selectedSymbol.contains(quote.symbol)?true:false}"
                   th:value="${quote.symbol}"
                   th:text="${quote.symbol}"/>
        </th>
        <th th:text="${quote.quantity}"></th>
        <th th:text="${quote.description}"></th>
        <th th:text="${quote.lastPrice}"></th>
        <th th:text="${quote.openPrice}"></th>
        <th th:text="${quote.highPrice}"></th>
        <th th:text="${quote.lowPrice}"></th>
        <th th:text="${quote.askPrice}"></th>
        <th th:text="${quote.bidPrice}"></th>
        <th th:text="${quote.closePrice}"></th>
        <th th:text="${quote.totalVolume}"></th>
        <th></th>
        <th></th>
    </tr>
</table>
</body>

</html>