<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table class="display" id="stocks">

    <thead>
    <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Last Price</th>
        <th>Open Price</th>
        <th>High Price</th>
        <th>Low Price</th>
        <th>Ask Price</th>
        <th>Bid Price</th>
        <th>Trade Price</th>
        <th>Change</th>
        <th>Close Price</th>
        <th>Total Volume</th>
        <th>Qty</th>
        <th>-Qty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quote,listStat : ${list}">
        <th align="left"><input type="checkbox" name="selectedBox" id="selectedBox"
                                th:value="${quote.symbol}"
                                th:text="${quote.symbol}" th:onchange="'checkboxChanged(this);'"/>
        </th>
        <th th:text="${quote.quantity}"></th>
        <th th:text="${quote.lastPrice}"></th>
        <th th:text="${quote.openPrice}"></th>
        <th th:text="${quote.highPrice}"></th>
        <th th:text="${quote.lowPrice}"></th>
        <th th:text="${quote.askPrice}"></th>
        <th th:text="${quote.bidPrice}"></th>
        <th th:text="${quote.avgPrice}"></th>
        <th th:text="${quote.change}"></th>
        <th th:text="${quote.closePrice}"></th>
        <th th:text="${quote.totalVolume}"></th>
        <th></th>
        <th></th>
    </tr>
    </tbody>
</table>
</body>

</html>