<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>Get Access Token from TD Ameritrade</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <style type="text/css">
        .top-buffer {
            margin-top: 50px;
        }
    </style>

</head>
<body>
<h3 style="color: #ff0000;">Developed by Nguyen Ngoc Trung's Team</h3>
<div>
    <form th:action="@{/redirectPage}"
          method="post" th:object="${config}">

        <table>
            <tr hidden="hidden">
                <td>
                    <label>response_type</label>
                </td>
                <td>
                    <input type="text" name="response_type" value="code"/>
                </td>
            </tr>
            <tr hidden="hidden">
                <td>
                    <label>client_id</label>
                </td>
                <td>
                    <input type="text" name="client_id" th:value="*{client_id}" style="width:300px"/>
                </td>
            </tr>
            <tr hidden="hidden">
                <td>
                    <label>redirect_uri</label>
                </td>
                <td>
                    <input type="text" name="redirect_uri"
                           th:value="*{redirect_uri}"
                           style="width:500px"/>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="SUBMIT" value="      Start      "/>
                </td>
                <td>

                </td>
            </tr>

            <tr>
                <td colspan="2" style="font-size: 12px;font-weight: bold">
                    <br/><br/>
                    <b>Disclaimer</b><br/>

                    This app is an effort to help you accelerate your trade speed using legal TD Ameritrade
                    Technologies.<br/>

                    No positive results or implied warranties are being made with respect to these services and
                    products.<br/>

                    All investing and trading in the securities market will involve risk.<br/>

                    Any decisions to place trades in stock is a your personal decision at your own risk.
                </td>
            </tr>
            <tr>
                <td colspan="2"><a href="../Help.html" target="_blank">Help</a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
