<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Option Chain</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#json").html(JSON.stringify(JSON.parse($("#hidResult").val()), undefined, 2));
        });
    </script>
</head>
<body>
<input id="hidResult" type="hidden" th:value="${result}"/>
<pre id="json"></pre>
<!--div th:text="${result}"></div><-->
</body>
</html>
