<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>result</title>
</head>
<body>
<br/>
Orders:<br/>
<table border="1">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Price</th>
    </tr>
    <tr th:each="result : ${orderList}">
        <th th:text="${result.enteredTime}"></th>
        <th th:text="${result.orderLegCollection[0].instruction}"></th>
        <th th:text="${result.orderLegCollection[0].instrument.symbol}"></th>
        <th th:text="${result.orderLegCollection[0].quantity}"></th>
        <th th:text="${result.status}"></th>
        <th th:text="${result.orderActivityCollection[0].executionLegs[0].price}"></th>
    </tr>
</table>
</body>
</html>