<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <title>result</title>
</head>
<body>
<br/>
Transactions:<br/>
<table border="1" class="table table-striped table-bordered" id="tblTransaction">
    <thead>
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${transactionList}">
        <th th:text="${result.transactionDate}"></th>
        <th th:text="${result.transactionItem.instruction}"></th>
        <th th:text="${result.transactionItem.instrument.symbol}"></th>
        <th th:text="${result.transactionItem.amount}"></th>
        <th th:text="${result.transactionItem.price}"></th>
    </tr>
    </tbody>
</table>
</body>
</html>